/* needed for map having 100% height and width*/
html, body, #main-content-container, #map {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.station-polygon {
    pointer-events: all;
}

.station-polygon:hover, .station-polygon.selected {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.station-polygon.selected {
    stroke-width: 3px;
}

.point circle {
    pointer-events: none;
}

.route-line {
    stroke: rgba(0, 0, 0, 0.01);
    stroke-width: 5px;
    fill: none;
    pointer-events: none;
}

#sidebar {
    width: 400px;
    padding: 20px;
    overflow: auto; /* scroll bar shows if too much content */
}

#map {
    flex: 1;
}

.fare-card-header {
    overflow: hidden
}

.radio-dropdown-menu {
    padding: 0.5rem;
}

#about {
    bottom: 10px;
    right: 10px;
}

#about.visible {
    width: 200px;
}

#about .hide {
    padding-bottom: 0;
    text-align: right;
}

#loading.visible:after {
    top: 50%;
    left: 50%;
    height: 28px;
    width: 80px;
    margin-left: -50px;
    margin-top: -30px;
    content: 'drawing...';
    font-size: 18px;
}

#selections label {
    display: block;
    padding-bottom: 8px;
}

#selections input[type=checkbox] {
    position: relative;
    top: -1px;
}

#selections .key {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 0 5px;
}

/*#selected {*/
    /*bottom: 10px;*/
    /*left: 10px;*/
    /*min-height: 50px;*/
/*}*/

#selected-header {
    font-size: 20px;
    margin: 0;
    line-height: 20px;
    font-weight: bold;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

#selected-source-destination {
    padding: 10px;
    float: left;
}

#selected-main-price {
    padding: 10px;
    display: inline-block;
    width: fit-content;
    visibility: hidden;
}

#fare-table .fare-type {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 20px;
}

#fare-table .td {
    padding: 5px;
}

#fare-table .tfl {
    background-image: url(img/tfl-icon.png);
}

#fare-table .nr {
    background-image: url(img/nr-icon.png);
}

/*zetter's code. does not work well with navbar*/
/*.hide,*/
/*.show {*/
    /*padding-bottom: 10px;*/
    /*display: block;*/
/*}*/

.content {
    display: none;
}

@media (min-width: 480px) {
    .selections .content {
        display: block;
    }

    .selections .show {
        display: none;
    }
}

.hidden .content,
.visible .show {
    display: none;
}

.hidden .show,
.visible .content {
    display: block;
}

@media (max-width: 480px) {
    #selected {
        box-sizing: border-box;
        width: 80%;
        height: 32px;
    }

    #selected h1 {
        font-size: 15px;
        line-height: 15px;
        font-weight: bold;
    }
}

.mapbox-control-info {
    display: none !important;
}